body{
    background: beige;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }
  .container{
    width: 90%;
    margin: 0 auto;
    background: beige;
    padding: 20px;
    box-shadow: 0 0 10px rgb(205, 81, 81);
  }
  
  @media (min-width: 768px){
    .container{
      width: 70%;
          }
  }

  
  header{
    text-align: center;
  }
  
  header h1{
    font-size: 30px;
  }
  header p{
    margin: 18px 0;
    font-size: 11px;
    font-weight: bold;
  }
  @media (min-width: 768px) {
    header p{
      font-size: 18px;
      margin: 18px 0;
    }
  }
header a{
  text-decoration: none;
  color: black;
}

  h2{
    font-size: 24px;
  
  }
  .button {
    /* padding: 10px 20px; */
    /* margin-top: 15px; */
    margin-left: 75%;
    background-color: rgb(205, 81, 81);
    color: white;
    border-radius: 6px;
    width: auto;
    cursor:grab;
    /* text-align: right; */
  }
  
  .button:hover {
    background-color: rgb(153, 60, 60);
  } 
  
  .profile p{
    text-align:justify;
    font-size: 16px;
  }

  .hidden{
    display: none;
  }