body{
    background: beige;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }
  .container{
    width: 60%;
    margin: 0 auto;
    background: beige;
    padding: 20px;
    box-shadow: 0 0 10px rgb(205, 81, 81);
  }
  
  .summary{
    text-align: justify;
  }
  
  header{
    text-align: center;
  }
  
  header h1{
    font-size: 30px;
  }
  header p{
    margin: 20px 0;
  }
  
  h2{
    font-size: 24px;
  
  }
  .button {
    /* padding: 10px 20px; */
    /* margin-top: 15px; */
    margin-left: 75%;
    background-color: rgb(205, 81, 81);
    color: white;
    border-radius: 6px;
    width: 25%;
    cursor:grab;
   
  
  }
  
  .button:hover {
    background-color: rgb(153, 60, 60);
  } 
  .hidden{
    display: none;
  }
  